* {
    box-sizing: border-box;
    cursor: crosshair;
    font-family: monospace;
}

/* Keyframes */

@keyframes fadeIn {
    0% {opacity:0;
        margin-left: 5rem;}
    100% {opacity:100%;
          margin-left: 0rem;}
}

@keyframes fadeInMenu {
    0% {opacity:0;}
    100% {opacity:100%;}
}

@keyframes fadeInMenuLinks {
    0% {opacity:0;}
    100% {opacity:100%;
        margin-left: -4rem;}
}  

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@keyframes scroller {
    0% {top: 0;}
    100% {top: 90%;}
}

@keyframes menuFade {
    0% {height: 0%;}
    100% {height: 100%}
}

@keyframes slideRight {
    0% {right: 30%;}
    100% {right: 50%;}
}

@keyframes testing {
    0% {transform: rotateY(0deg);}
    100%{transform: rotateY(-95deg);}
}

@keyframes slideRighert {
    0% {right: -30rem;}
    100% {right: -70rem;}
}

body {
    width: 100vw;
    height: 100vh;
    background: #333;
    margin: 0;
}

.menu-btn {
    left: 2rem;
    top: 2rem;
    border: none;
    background: none;
    font-size: 42px;
    position: fixed;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.aside-scrolling {
    position: absolute;
    top: 30%;
    right: 20%;
}

.scroll-bar {
    position: fixed;
    opacity: 0;
    width: 2px;
    height: 500px;
    background: rgb(133, 130, 130);
    margin-left: 2rem;
    animation: fadeInMenu 1s linear;
    animation-delay: 9.5s;
    animation-fill-mode: forwards;
}

.scrolling {
    opacity: 0;
    height: 40px;
    width: 4px;
    background: white;
    position: absolute;
    top: 0;
    animation: scroller 2s infinite alternate, fadeInMenu 1s linear;
    animation-delay: 9.5s;
    animation-fill-mode: forwards;
}

.scroll-text {
    font-size: 24px;
    letter-spacing: 6px;
    line-height: 40px;
    color: gray;
    transform: rotate(90deg);
}

.frontpage {
    height: 100vh;
    display:flex;
    align-items: center;
    /* perspective: 50rem; */
}

.perspective {
    perspective: 1000px;

}

.welcome {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
}
  
.typewriter h1 {
    opacity: 0;
    max-width: fit-content;
    color: #fff;
    font-size: 36px;
    overflow: hidden; 
    border-right: 0.5rem solid orange; 
    white-space: nowrap; 
    margin: 0 auto; /*  scrolling effect with the typing */
    letter-spacing: 0.15em;
    animation: 
      typing 2.5s steps(12, end),
      blink-caret 1s step-end infinite,
      fadeInMenu 0s linear;
    animation-delay:3.5s;
    animation-fill-mode: forwards;
}
.welcome .i-am {
    margin-top: 1rem;
    opacity: 0;
    font-size: 28px;
    padding: 1rem;
    border-left: 10px solid orange;
    animation: fadeIn linear 3s;
    animation-fill-mode: forwards;
    animation-delay: 6.5s;         
}

.avatar {
    position: absolute;
    top: -25rem;
    right: -30rem;   
    animation: 
        testing linear 3s,
        slideRighert linear 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}


.welcome p, h2 {
    margin: 0;
}
/* 
.welcome p {
    font-size: 36px;
} */


/* typography */

.header-text {
    font-size: 56px;
    color: #333;
    letter-spacing: 8px;
    text-shadow: 0px 0px 4px #F1662A;
}

.subheader-text {
    font-size: 42px;
}

.paragraph-text {
    font-size: 28px;    
    color:rgb(173, 173, 173);
}

.paragraph-year {
    font-size: 24px;  
    font-style: italic;  
    color:rgb(51, 167, 103);
}

/* about page */

#about, #knowledge, #portfolio, #experience, #contact {
    height: 100%;
    font-family: 'Poiret One', cursive;
    margin-right: 10%;
    margin-bottom: 30%;    
    padding: 2rem;
    border: 8px dashed #333;
}

#about, #portfolio, #contact {
    background:rgb(77, 74, 74);
}

.sword {
    margin: 0 auto;
}

/* knowledge */

#knowledge, #experience {
    background: #7e3b1e;
}

#knowledge .list-items {
    font-size: 32px;
    list-style: none;
    color: #411806;
}

#knowledge .list-items::before {
    content: "";
    display: inline-block;
    margin-right: 2rem;   
    margin-top: 0.5rem; 
    height: 30px;
    width: 30px;
    background:rgb(51, 167, 103);
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

/* Portfolio */

#portfolio article {
    height: 350px;
    max-width: 350px;
    border: 3px solid rgb(173, 173, 173);    
}

.project-cards {
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5rem;
}

.project-cards .ada {
    width: 100%;
    background-image: url("/images/ada.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-cards .folkuniversitetet {
    width: 100%;
    background-image: url("/images/FU.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-cards .soon {
    width: 100%;
    background-image: url("/images/soon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

mark {
    background:rgb(51, 167, 103);
    font-size: 24px;
    font-weight: 700;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

/* Contact */

#contact .contact-text {
    font-size: 22px;
    color: rgb(173, 173, 173);
}

.input-boxes {
    font-weight: 700;
    padding-top: 3rem;
}

.input-boxes p {
    margin-bottom: 2px;
}

input, textarea {
    display:block;
    width: 600px;
    height: 40px;
    background: none;
    border: 0.5px solid rgb(51, 167, 103);
    border-radius: 8px;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #f7f7f7;
    padding-left: 1rem;
    margin-top: 0;
    resize: none;
}
.input-boxes {
    font-weight: 700;
    padding-top: 3rem;
    margin: 0 auto;
}

.message {
  height: 300px;
}

input:focus, textarea:focus {    
    background: #f7f7f7;
    color: #000;
    border: none;
    padding-left: 1rem;
    font-size: 24px;
}

#contact .btn-send {
    margin-top: 3rem;
    font-family: 'Poiret One', cursive;
    letter-spacing: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #f7f7f7;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;    
    background: rgb(52, 67, 78);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

/* footer */

footer {    
    width:100%;
    height: 10vh;
    background:rgb(52, 67, 78);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #f7f7f7;
    font-size: 18px;
}

/* menu */
.menu-wrapper {
    width: 100%;
    height: 100vh;
    display:flex;        
}

.menu-wrapper .menuFirst {
    width: 100%;
    height: 0%;
    background: rgb(146, 176, 219);
    /* box-shadow: inset -20px 0px 20px 7px rgb(92, 128, 160); */    
    animation: menuFade ease-out 3s;
    animation-fill-mode: forwards;
}

.menu-wrapper .menuSecond {
    width: 100%;
    height: 0%;
    background: rgb(92, 128, 160); 
    border-left: 8px dashed rgb(146, 176, 219);  
    animation: menuFade ease-out 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.menu-wrapper .menuThird {
    width: 100%;
    height: 0%;
    background: rgb(76, 92, 114);
    border-left: 8px dashed rgb(92, 128, 160);    
    /* box-shadow: inset -20px 0px 20px 7px rgb(62, 74, 92); */
    animation: menuFade ease-out 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    display:flex;
    justify-content: center;
    align-items: center;
}

.menu-wrapper img {
    opacity: 0%;
    margin-bottom: 12rem;
    animation: fadeInMenu linear 4s;
    animation-fill-mode: forwards;
    animation-delay: 4s; 
}

.menu-wrapper .menuFourth {
    width: 100%;
    height: 0%;
    background: rgb(62, 74, 92);
    border-left: 8px dashed rgb(76, 92, 114);
    animation: menuFade ease-out 3s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

nav {
    opacity: 0%;
    position: absolute;
    left: 30%;
    top: 20%;
    animation: fadeInMenu linear 4s;
    animation-fill-mode: forwards;
    animation-delay: 4s;      
}

nav h1 {
    font-size: 56px;
    color: white;
}

nav ul {
    list-style: none;
}

nav .menu-item:nth-child(even) {
    margin: 2rem;
}

nav .menu-item:nth-child(odd) {
    margin: 0 -2rem;
}

nav a {
    text-decoration: none;
    font-size: 32px;
    color: white;
}

nav a:visited {
    color: white;
}

nav a:hover {
    color: rgb(20, 65, 46);
    font-weight: 700;
}

.link-ani {
    opacity: 0;
    animation: fadeInMenuLinks linear 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 6s;  
}





  
