p {
    font-size: 45px;
}

body {
    background: rgb(119, 116, 116);
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.welcome {
    display: flex;
    justify-content: center;
}

.avatar {
}

.paj {    
    position: relative;
    display: inline-block;
    perspective: 400px;
   
}

p {
    position: absolute;
    border: 4px solid black;
    border-radius: 10px;
    padding: 2rem;
    width: 12rem;
    background: moccasin;
    transition: 1s;
}

p:hover {
    width: 20rem;
    transition: 1s;
}



.paj p:nth-child(2) {
    opacity: 0%;
    top: 2rem;
    right: 30rem;
    animation: opac linear 1.5s,
    slider linear 1s,
    colorz infinite 3s;
    animation-delay: 3.8s;
    animation-fill-mode: forwards;
    transform:rotateY(45deg);
}

.paj p:nth-child(3) {
    opacity: 0%;
    top: 2rem;
    left: 30rem;
    animation: opac linear 1.5s,
    slider2 linear 1s,
    colors infinite 3s,
    colors infinite 3s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    transform:rotateY(-45deg);
}

.paj p:nth-child(4) {
    opacity: 0%;
    top: 18rem;
    right: 30rem;
    animation: opac linear 1.5s,
    slider linear 1s,
    colorz infinite 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transform:rotateY(45deg);
}

.paj p:nth-child(5) {
    opacity: 0%;
    top: 10rem;
    right: 30rem;
    animation: opac linear 1.5s,
    slider linear 1s,
    colors infinite 3s;
    animation-delay: 4.2s;
    animation-fill-mode: forwards;
    transform:rotateY(45deg);
}

.paj p:nth-child(6) {
    opacity: 0%;
    top: 18rem;
    left: 30rem;
    animation: opac linear 1.5s,
    slider2 linear 1s,
    colors infinite 3s;
    animation-delay: 4.6s;
    animation-fill-mode: forwards;
    transform:rotateY(-45deg);
}

.paj p:nth-child(7) {
    opacity: 0%;
    top: 10rem;
    left: 30rem;
    transform:rotateY(-45deg);
    animation: 
        opac linear 1.5s,
        slider2 linear 1s,
        colorz infinite 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    
}

h1 {
    opacity: 0;
    max-width: fit-content;
    font-size: 36px;
    overflow: hidden; 
    border-right: 0.5rem solid orange; 
    white-space: nowrap;     
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: 
      typing 2.5s steps(12, end),
      blink-caret 1s step-end infinite,
      opac 0s linear;
    animation-fill-mode: forwards;
}

h2 {
    margin-top: 1rem;
    margin-left: 4rem;
    opacity: 0;
    font-size: 28px;
    padding: 1rem;
    border-left: 10px solid orange;
    animation: opac linear 3s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;         
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}

@keyframes opac {
    0% {opacity: 0%}
    100% {opacity: 100%;}
}

@keyframes slider {
    0% {right: 30rem}
    100% {right: 26rem}
}

@keyframes slider2 {
    0% {left: 30rem;}
    100% {left: 24rem}
}

@keyframes colorz {
    0% {color:tomato}
    50% {color: palevioletred}
    100% {color: hotpink}
}

@keyframes colors {
    0% {color: rgb(15, 105, 15)}
    50% {color: rgb(47, 160, 47)}
    100% {color: rgb(133, 231, 133)}
}

@keyframes fun {
    0% {transform: rotateY(45deg)}
    100% {transform: rotateY(0deg)}
}

@keyframes fun2 {
    0% {transform: rotateY(-45deg)}
    50% {transform: rotateY(0deg)}
    100% {transform: rotateY(-45deg)}
}



